## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [12]:
x = 2
print(x)

2

2) Imprimir el tipo de dato de la constante 8.5

In [11]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [13]:
type(x)

int

4) Crear una variable que contenga tu nombre

In [14]:
nombre ="Jheyson Brandon Ichuhuayta Quispe"
print(nombre)

Jheyson Brandon Ichuhuayta Quispe

5) Crear una variable que contenga un número complejo

In [17]:
x1 = 3j
print(x1)

3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [18]:
type(x1)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [19]:
pi = 3.1415
print(pi)

3.1415

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [20]:
var = 'True'
var2 = True
print(var)
print(var2)

True
True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [29]:
print(type(var))
print(type(var2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [30]:
x = 1 +1.4
print(x)

2.4

11) Realizar una operación de suma de números complejos

In [33]:
x = 1 + 2j
y = 2 + 3j
print(x + y)

(3+5j)

12) Realizar una operación de suma de un número real y otro complejo

In [35]:
x = 3 + 4j
re = 4.17
print(x + re)

(7.17+4j)

13) Realizar una operación de multiplicación

In [36]:
x = 4 * 4
print(x)

16

14) Mostrar el resultado de elevar 2 a la octava potencia

In [37]:
x = 8**2
print(x)

64

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [38]:
x = 27 / 4
print(x)

6.75

16) De la división anterior solamente mostrar la parte entera

In [40]:
x = 27 // 4
print(x)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [41]:
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [47]:
suma = 4 * 6 + 3
print(suma)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [50]:
x = "Jheyson Brandon "
y = 'Ichuhuayta Quispe'
juntar = x + y
print(juntar)

Jheyson Brandon Ichuhuayta Quispe

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [51]:
x = "2"
y = 2
x == y

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [52]:
2 == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [59]:
a = float('3.8')
print(a)

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [63]:
a = 3
a -= 1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [64]:
if 1 << 2:
    print("holis")
else: print("xd")

holis

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [66]:
2 + 2

4

26) Realizar una operación válida entre valores de tipo entero y string

In [67]:
var1 = 'este texto se repite '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')

este texto se repite este texto se repite este texto se repite 3 veces